together>=0.2.8
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
#google-auth-oauthlib-tool
requests>=2.31.0
elevenlabs
types-requests>=2.31.0.20240218
google-generativeai>=0.3.2
pydantic>=2.6.1
moviepy>=1.0.3
openai-whisper>=20231117
torch>=2.1.2
whisper>=1.1.10
soundfile>=0.12.1
librosa>=0.10.1
pydub>=0.25.1
ffmpeg-python>=0.2.0
pytest
pandas
yt-dlp>=2023.11.16
youtube-search>=2.1.2
scenedetect>=0.6.2
jsonschema>=4.20.0
fastapi[standard]==0.115.12
psutil
supabase==2.15.0
pydantic-settings==2.8.1
#pyav==14.2.1
replicate
runwayml
av
mutagen
numpy==1.26.4
openai
python-dotenv==1.0.1
celery
redis
pysrt
httpx